@media screen and (max-width: 1900px) {
  .hero__cards {
    margin: 0 30px;
  }
}
@media screen and (max-width: 1700px) {
  .header__title {
    font-size: 80px;
  }
  .flex-container {
    height: 700px;
  }
  .footer-car {
    position: absolute;
    top: 0;
    left: 0;
  }
}
@media screen and (max-width: 1575px) {
  .hero__card {
    width: 420px;
  }
  .hero__card-title {
    margin-top: 30px;
  }
  .hero__card-button-more {
    margin: 0;
  }
  .hero__card-button {
    padding: 20px 120px;
    font-size: 30px;
  }
}
@media screen and (max-width: 1375px) {
  .hero {
    position: relative;
  }
  .hero__card {
    width: 350px;
  }
  .header__lamp {
    opacity: 0.6;
  }
  .hero__card-img-credit {
    width: 300px;
  }
}
@media screen and (max-width: 1150px) {
  .header__logo {
    width: 350px;
  }
  .header__title {
    font-size: 65px;
    line-height: 85px;
  }
  .hero {
    height: 2850px;
  }

  .hero__cards {
    display: block;
    flex-direction: column;

    position: absolute;
    z-index: 1;
    left: 50%;
    margin: 0;
    transform: translate(-50%, 0);
  }
  .hero__card {
    width: 500px;
  }
  .hero__card:nth-child(2) {
    bottom: 0;
    margin-top: 30px;
    margin-bottom: 90px;
  }
  .hero__card-title {
    font-size: 25px;
  }
  .hero__card-subtitle {
    font-size: 18px;
  }
  .hero__card {
    height: 930px;
  }
  .hero__card-button-more a {
    font-size: 20px;
  }
  .hero__card-button {
    font-size: 25px;
  }
  .title-form {
    font-size: 30px;
  }
  .contact-form__request::placeholder {
    font-size: 25px;
  }
}
@media screen and (max-width: 970px) {
  .header__logo {
    width: 250px;
  }
  .header__lamp {
    width: 600px;
    height: 390px;
    top: 100px;
    right: 50px;
  }
  .header {
    background-size: 140%;
    height: 800px;
    padding-bottom: 0;
    border-bottom: 0;
  }
  .header__title {
    font-size: 55px;
    line-height: 65px;
    margin-top: 50px;
  }
  .hero__card {
    bottom: 150px;
  }
  .hero__card:nth-child(2) {
    bottom: 150px;
    margin: 20px 0;
  }
  .hero {
    height: 2750px;
  }
  .flex-container {
    justify-content: inherit;
  }
  .contact-form__request,
  .__select__title-region,
  .__select__title {
    width: 300px;
  }
  .__select__content {
    width: 300px;
  }
  .__select__content-region {
    width: 300px;
    left: 53px;
  }
  .__select__title {
    line-height: 25px;
  }
  .__select__title-region {
    line-height: 25px;
  }
  .contact-form__request-tel {
    left: 75px;
  }
  .contact-input-container {
    width: 100%;
  }
  .__select__title-region {
    left: 53px;
  }
}
@media screen and (max-width: 880px) {
  .header {
    padding: 50px 50px 0 50px;
  }
  .contact-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contacts {
    margin-left: auto;
    margin-right: auto;
  }
  .contact-form {
    height: 370px;
  }
  .contact-form__request-fio {
    left: -59px;
    top: 180px;
  }
  .contact-form__request {
    left: -59px;
    bottom: -185px;
  }
  .__select__title-region {
    left: -210px;
    top: 265px;
  }
  .__select__title {
    position: absolute;
    left: -33px;
    top: 100px;
  }
  .__select__content {
    top: -24px;
    right: -37px;
  }
  .contact-form__check-box {
    margin-top: 200px;
    width: 350px;
    position: relative;
    left: -33px;
  }
  footer {
    height: 850px;
  }
  .contacts-form__submit-btn {
    bottom: -250px;
    right: 28%;
  }
  .__select__content-region {
    left: -210px;
    top: 340px;
  }
  .politics {
    right: 40%;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 750px) {
  .header__lamp {
    top: -30px;
    right: -50px;
  }
  .header__title {
    font-size: 42px;
    line-height: 50px;
  }
  .hero__card-button {
    font-size: 20px;
  }
  .hero__card {
    bottom: 350px;
    width: 400px;
  }
  .hero__card:nth-child(2) {
    bottom: 350px;
    margin: 15px 0;
  }
  .hero {
    height: 2430px;
  }
  .footer-car {
    opacity: 0.3;
  }
}
@media screen and (max-width: 700px) {
  footer {
    margin-top: 80px;
  }
  .footer-car {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .header__logo {
    width: 200px;
  }
  .header__title {
    font-size: 32px;
    line-height: 42px;
  }
}
@media screen and (max-width: 475px) {
  .hero {
    padding-bottom: 0;
  }
  .header__lamp {
    width: 450px;
    height: 290px;
  }
  .hero__card {
    bottom: 480px;
  }
  .hero__card:nth-child(2) {
    bottom: 480px;
  }
  footer {
    margin-top: 0;
  }
  .politics {
    width: 150px;
  }
  .liscence-text {
    text-align: left;
  }
  .flex-container {
    margin: 0 auto;
  }
  .contacts {
    margin-right: 20px;
    margin-left: 20px;
  }
  .flex-container {
    margin-left: 60px;
    margin-right: 30px;
  }
}
@media screen and (max-width: 375px) {
  .header {
    background-size: cover;
  }
  .hero__card {
    width: 350px;
    bottom: 420px;
    padding-bottom: 200px;
    height: 100%;
  }
  .hero__card:nth-child(2) {
    bottom: 420px;
  }
  .hero__card-img-credit {
    width: 250px;
  }
  .hero {
    height: 2150px;
  }
}
