@media screen and (max-width: 1900px) {
  .hero__cards {
    margin: 0 30px;
  }
}
@media screen and (max-width: 1700px) {
  .header__title {
    font-size: 80px;
  }
  .flex-container {
    height: 700px;
  }
  .footer-car {
    position: absolute;
    top: 0;
    left: 0;
  }
}
@media screen and (max-width: 1575px) {
  .hero__card {
    width: 420px;
    height: 1080px;
  }
  .hero__card-title {
    margin-top: 30px;
  }
  .hero__card-button-more {
    margin: 0;
  }
  .hero__card-button {
    padding: 20px 120px;
    font-size: 30px;
  }
}
@media screen and (max-width: 1375px) {
  .hero {
    position: relative;
  }
  .header {
    height: 1150px;
  }
  .hero__card {
    width: 350px;
    height: 1180px;
  }
  .header__lamp {
    bottom: -400px;
  }
  .hero__card-img-credit {
    width: 300px;
  }
}
@media screen and (max-width: 1150px) {
  .header {
    height: 1000px;
  }
  .header__logo {
    width: 350px;
  }
  .header__title {
    width: 600px;
    font-size: 65px;
    line-height: 85px;
  }
  .hero {
    height: 2720px;
  }
  .header__lamp {
    right: 0;
  }

  .hero__cards {
    display: block;
    flex-direction: column;

    position: absolute;
    z-index: 1;
    left: 50%;
    margin: 0;
    transform: translate(-50%, 0);
  }
  .hero__card {
    width: 500px;
    height: 0;
    height: fit-content;
    padding-bottom: 200px;
  }
  .hero__card:nth-child(2) {
    bottom: 0;
    margin-top: 30px;
    margin-bottom: 90px;
  }
  .hero__card-title {
    font-size: 25px;
  }
  .hero__card-subtitle {
    font-size: 18px;
  }
  .hero__card-button-more a {
    font-size: 20px;
  }
  .hero__card-button {
    font-size: 25px;
  }
  .title-form {
    font-size: 30px;
  }
  .contact-form__request::placeholder {
    font-size: 25px;
  }
  .modal[data-modal='1'] {
    top: 8%;
  }
  .modal[data-modal='2'] {
    top: 42%;
  }
  .modal[data-modal='3'] {
    top: 75%;
  }
}
@media screen and (max-width: 970px) {
  .header__logo {
    width: 250px;
  }
  .header__lamp {
    width: 700px;
    height: 500px;
  }
  .header {
    background-size: 140%;
    height: 800px;
    padding-bottom: 0;
    border-bottom: 0;
  }
  .header__title {
    font-size: 55px;
    line-height: 65px;
    margin-top: 50px;
  }
  .hero__card:nth-child(2) {
    margin: 20px 0;
    bottom: -40px;
  }
  .hero__card {
    bottom: -40px;
  }

  .modal[data-modal='1'] {
    top: 6%;
  }
  .modal[data-modal='2'] {
    top: 37%;
  }
  .modal[data-modal='3'] {
    top: 70%;
  }
}
@media screen and (max-width: 880px) {
  .header {
    padding: 50px 50px 0 50px;
    overflow: hidden;
  }
  .contacts {
    margin-left: auto;
    margin-right: auto;
  }
  .hero__cards {
    height: 100%;
  }
  .header__lamp {
    right: -50px;
  }
  .contact-form {
    height: 370px;
  }
  .contact-form__request-fio {
    left: -59px;
    top: 180px;
  }
  .contact-form__request {
    left: -59px;
    bottom: -185px;
  }
  .__select__title-region {
    left: -95px;
    top: 265px;
  }
  .__select__title {
    position: absolute;
    left: -59px;
    top: 100px;
  }
  .__select__content {
    top: -24px;
    right: -11px;
  }
  .contact-form__check-box {
    margin-top: 340px;
    width: 300px;
    position: relative;
    left: -15%;
    z-index: 99999;
  }
  .footer-car {
    opacity: 0.6;
  }

  footer {
    height: 850px;
  }
  .contacts-form__submit-btn {
    bottom: -270px;
    right: 10%;
  }
  .__select__content-region {
    top: 340px;
    left: -95px;
  }
  .politics {
    top: -110px;
    right: 40%;
    width: 100%;
  }
  .contact-input-container {
    width: 0;
  }
  .__select__title {
    left: -40px;
  }
  .__select__content {
    right: -80px;
  }
  .__select__title-region {
    left: -156px;
  }
  .__select__content-region {
    left: -156px;
  }

  .contact-form__request {
    left: -40px;
  }
  footer {
    height: 1000px;
    margin-top: 80px;
  }
  .footer__licence {
    padding-bottom: 0;
    margin-top: 200px;
  }
  .footer-car {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .header__title {
    display: none;
  }
  .header__title-img {
    position: relative;
    top: 80px;
    display: block;
  }
  .hero__card-button {
    font-size: 20px;
  }
  .hero__card {
    width: 400px;
    bottom: -80px;
  }
  .hero__card:nth-child(2) {
    margin: 15px 0;
    bottom: -80px;
  }
  .contact-form__check-box {
    left: -12%;
  }
  .hero {
    height: 2600px;
  }
  .politics {
    right: 60%;
  }
  .liscence-text {
    text-align: left;
  }
  .footer-car {
    opacity: 0.3;
  }
  .title-form {
    margin-bottom: 0;
  }
  .modal[data-modal='1'] {
    top: 2%;
  }
  .modal[data-modal='2'] {
    top: 26%;
  }
  .modal[data-modal='3'] {
    top: 65%;
  }
  .flex-container {
    margin: 0;
  }
}
@media screen and (max-width: 700px) {
  .modal {
    left: 50%;
  }
  .header__title {
    width: 500px;
  }
  .header__lamp {
    width: 600px;
    height: 420px;
    bottom: -350px;
  }
}
@media screen and (max-width: 600px) {
  .header {
    height: 720px;
  }
  .header__logo {
    width: 200px;
  }
  .header__lamp {
    bottom: -400px;
    width: 520px;
    height: 370px;
  }

  .footer__licence {
    font-size: 12px;
    margin-top: 190px;
  }

  .modal {
    padding: 20px;
    width: 80%;
  }
  .modal[data-modal='1'] {
    top: 12%;
  }
  .modal[data-modal='2'] {
    top: 34%;
  }
  .modal[data-modal='3'] {
    top: 74%;
  }
}
@media screen and (max-width: 480px) {
  .header {
    height: 600px;
  }
  .header__lamp {
    width: 420px;
    height: 290px;
    bottom: -310px;
    right: -70px;
  }
  .hero__card {
    width: 350px;
    bottom: -30px;
  }
  .hero__card:nth-child(2) {
    bottom: -30px;
  }
  .hero {
    height: 2720px;
  }
  footer {
    margin-top: 0;
  }
  .__select__title {
    left: -25px;
  }
  .__select__content {
    right: -95px;
  }
  .contact-form__request {
    left: -25px;
  }
  .contact-form__check-box {
    left: -8%;
  }
  .__select__title-region {
    left: -142px;
  }
  .__select__content-region {
    left: -142px;
  }
  .politics {
    right: 55%;
  }
  .modal {
    padding: 10px;
    width: 95%;
  }
  .modal[data-modal='1'] {
    top: 7%;
  }
  .modal[data-modal='2'] {
    top: 30%;
  }
  .modal[data-modal='3'] {
    top: 70%;
  }
}
@media screen and (max-width: 450px) {
  .header__lamp {
    width: 375px;
    height: 260px;
    bottom: -310px;
    right: -60px;
  }
  .modal {
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .hero__card {
    width: 350px;
  }
  .header__lamp {
    width: 350px;
    height: 250px;
    bottom: -250px;
  }
}
